name: Go
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  build:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.19
      - uses: ko-build/setup-ko@v0.9
      - name: Build
        run: ko build
      - name: Test
        run: go test -v ./...
